PROJECT_NAME="CodeReviewAI"
DOCS_URL="/api/docs"
DESCRIPTION="A simple Auto-Review Tool"
DEBUG=True
API_V1_STR="/api/v1"

#REDIS

REDIS_URL="redis://redis:6379"
REDIS_HOST=redis
REDIS_PORT=6379

#RABBITMQ

RABBITMQ_URL="amqp://guest:guest@rabbitmq:5672/"
BROKER_TOPIC="notification"

#CHAT GPT

OPENAI_URL="https://models.inference.ai.azure.com"
OPENAI_API_KEY=
GPT_MODEL_NAME="gpt-4o"

#GIT HUB
GITHUB_URL="https://api.github.com"
GITHUB_TOKEN=

#IGNORE
IGNORE_FILES="README.md,LICENSE,.gitignore,.env,poetry.lock"






REVIEW_PROMPT_TEMPLATE="Review the following code for a {level} developer, considering the description: {description}

Your task is to effectively analyze the quality of the code, identify issues, and suggest improvements. Focus on the following:

1. Identify errors and potential problems in the code (e.g., performance issues, security vulnerabilities, readability, or bugs).
2. Specify the file where the issue is located and clearly describe what needs to be fixed.
3. Provide recommendations for improving the code, such as how to make it more efficient, clean, and maintainable.
4. Always provide a rating of the code quality on a scale from 0 to 10 at the end.

Here is the code:

{code}

Summarize your response in approximately 200 words.
Please give me conclusions at the end of your response with the keyword 'Conclusion'."


ASSIST_PROMPT_TEMPLATE="
You are an AI assistant tasked with recommending products based on client requirements. Below are the product links and the client's description:

Product Links:
{links}

Client's Requirements:
{description}

Your task is to:
1. Review each product link.
2. Determine which products best meet the client's requirements.
3. Provide only link of product that's fits to the client requirements to your response .

Please format your response as a numbered list, with each item containing the product name, a brief description, and an explanation of how it fits the client's requirements. Limit your response to approximately 200 words.
"
